<%= render :partial => 'shared/pagedown' %>


<h3 id="markdown-cheatsheet">
  <strong>Need help editing content?</strong> Read the
  <%= link_to("Markdown Cheatsheet (PDF)", markdown_cheatsheet_path, :id => "markdown-cheatsheet") %>
</h3>

<%= semantic_form_for [:admin, @guide_step] do |f| %>
  <%= f.inputs "Guide Steps Details" do %>
    <%=f.input :guide, :as => :select, :collection => Guide.all %>
    <%=f.input :title %>
    <%=f.input :step %>

    <div class="wmd-panel">
      <div id="wmd-button-bar-content" class="wmd-button-bar"></div>
      <%= f.input :content, :label => "Content", :input_html => {
          :class => 'wmd-input', :id => 'wmd-input-content'} %>
      <div id="wmd-preview-content" class="wmd-preview article"></div>
    </div>
    <div class="clear"></div>

  <%end%>
  <%=f.actions %>
<% end %>
