<div class="page-container search">
  <div class="row">
    <div class="span9">
      <div class="main-content">
        <div class="header">
          <h1>Search results for: &ldquo;<strong><%=@query%></strong>&rdquo;</h1>
          <% if @query_corrected %>
            <div class="suggestion">(Did you mean: "<a href ='/search?q=<%= @query_corrected.gsub(/ /, '+') %>'><%=@query_corrected%></a>"?)</div>
          <% end -%>
          <!-- <div class="count">< % = #@results.count % > results found</div> -->
        </div>

          <% if @results.blank? or @results.count == 0 %>
            <p>Sorry, no results found for "<%=@query%>".  Please try rephrasing your search terms.</p>
          <% else %>
          <ul>
            <% @results.each do |article| %>
              <% next unless article.is_published %>
              <li class="article-listing">
                <%= content_tag( :h1, link_to( article.title, article_path(article.id) ) ) %>
                <p class="preview"><%= article.preview %></p>
              </li>
            <% end %>
          </ul>
          <% end %>

        <p>If you can't find an answer, you can ask usk us <%= link_to( 'here', new_question_path) %>.</p>
        <div id="indexden">
          <a href="http://www.indexden.com" title="IndexDen - full text search as a service"><img border="0" alt="IndexDen - full text search as a service" src="http://www.indexden.com/assets/badge/white.png"></a>
        </div>
      </div>
    </div>
    <div class="span3">
      <%= render :partial => 'shared/categories_sidebar' %>
    </div><!-- /span3 -->
  </div>
</div>