<div id="navigation">
  <%= render :partial => 'shared/search_form' %>
</div>
<div class="row">
  <div class="span12">
    <div class="page-container">
      
      <div class="row">
        <div class="span9">
          <div class="main-content">
            <div class="header"><h1><%= @article_type %>s</h1></div>
            <ul>
              <% @articles.each do |article| %>
                <li class="article-listing">
                  <%= content_tag(:h2, link_to(article.title,article))%>
                    <p class="preview"><%= article.preview %></p>
                </li>
              <% end -%>
            </ul>
          </div>
        </div>
        <div class="span3">
          <%= render :partial => 'shared/categories_sidebar' %>
        </div><!-- /span3 -->
      </div>
    </div> 
  </div>