<div id="topDivPattern"></div>
<div id="bgTopDiv" class="headline">  
  <div id="searchContent" class="headline">
    <form id="searchForm" autocomplete="off">
      <input type="text" id="search" />
      <input type="submit" id="search_btn" value="Search" />
    </form>
  </div>
</div>

<div class="article">

<p><h1>Listing of all articles</h1></p><br />

<p><h2><a name="driverlicense">Driver License</a></h2></p>
<ul>
<li><a href="1/">How do I get a Hawai’i driver license for the first time?</a></li>
<li><a href="2/">How do I renew my driver license?</a></li>
<li><a href="3/">Where do I go to apply for a driver license?</a></li>

<p><h2><a name="motorvehicles">Motor Vehicles</a></h2></p>
<li><a href="4/">How do I register a new motor vehicle?</a></li>
<li><a href="5/">How do I renew the registration for my motor vehicle?</a></li>
<li><a href="6/">Where do I go to register a motor vehicle?</a></li>
<li><a href="7/">What is the registration fee for my motor vehicle?</a></li>
<li><a href="8/">How do I register a new trailer?</a></li>
<li><a href="9/">How do I renew the registration for my trailer?</a></li>
<li><a href="10/">Where do I go to register a trailer?</a></li>
<li><a href="11/">What is the registration fee for my trailer?</a></li>
<li><a href="12/">How do I transfer ownership of my vehicle or trailer?</a></li>
<li><a href="13/">How do I get a personalized license plate?</a></li>
</ul>
<p><h2><a name="camping">Camping</a></h2></p>

<p><h2><a name="jobs">Jobs</a></h2></p>






<!-- 

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Category</th>
    <th>Content type</th>
    <th>Preview</th>
    <th>Contact</th>
    <th>Tags</th>
    <th>Service url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.content %></td>
    <td><%= article.category %></td>
    <td><%= article.content_type %></td>
    <td><%= article.preview %></td>
    <td><%= article.contact_id %></td>
    <td><%= article.tags %></td>
    <td><%= article.service_url %></td>
    <td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>



<br />

<%= link_to 'New Article', new_article_path %>
-->
</div>
