<div id="topDivPattern"></div>
<div id="bgTopDiv" class="headline">  
  <div id="searchContent" class="headline">
    <form id="searchForm" autocomplete="off">
      <input type="text" id="search" />
      <input type="submit" id="search_btn" value="Search" />
    </form>
  </div>
</div>

<p id="notice"><%= notice %></p>


<div class="article">
<span class="icon"><img src="/assets/quick_answers_icon.png" /></span>
  <h2>Quick Answers</h2><br />
  <h1><%= @article.title %></h1>
<!--  <div class='date'>
    <%= @article.updated %>
  </div> -->

  <div class="content">
  <div class="quickAnswer"><p class="quickAnswer">Pandas and gradient backgrounds increase transparency in local government through Twitter and #gov20. Oswald font is great for communication through scotch and San Francisco for Claremont McKenna Director</p>
  <span class="button"><a href="#"><img src="/assets/getting_started_btn.png" /></span></a>
  </div>
    <%= raw @content_html %>
  </div>
  
  <div class="contact">
  	<h2>Need more Information?</h2>
  	<h4><strong>Department of Awesome </strong><br />
  	123 Awesome Ave.<br />
  	Honolulu, HI, Awesome<br /><br />
  	<span class="italic">Phone: 808-808-8080</span>
  	</h4>
  
    <%= raw @article_contact %>
  </div>


<!--  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'Back', articles_path %> -->

</div>