      <div class="sidebar">  
        <% unless @article.contact.nil? %>
          <div class="sidebar-unit">
            <h4 class="side-head">NEED MORE INFO?</h4>
            <div class="sidebar-content">
              <% if @article.contact.url.index(',') == nil %>
                <%= content_tag(:h4, link_to_unless(@article.contact.url.blank?, @article.contact.name, @article.contact.url, :target => "_blank")) %>
              <% elsif !(@article.contact.url.blank?) %>
                <%= content_tag(:h4, @article.contact.name) %>
                <% ( @article.contact.url.split(',') ).each do |multiurl| %>
                  <%= link_to(multiurl.strip, multiurl.strip) %>
                  <br/>
                <% end %>
                <br/>
              <% end %>
              <%= raw @article.contact.address %>
              <% if @article.contact.number.length > 0 %>
                <%= raw "Phone: #{@article.contact.number}" %>
              <% end %>
            </div>
          </div>
        <% end %>
        <% if @article.keywords.count > 0 %>
          <% unless @article.related.empty? %>
            <div class="sidebar-unit">
              <h4 class="side-head">RELATED TOPICS</h4>
              <div class="sidebar-content">
                <ul>
                  <% @article.related.each do |art| %>
                  <%= content_tag(:li, link_to(art.title, article_path(art.id)) ) %>
                  <% end -%>
                </ul>
              </div>
            </div>
          <% end -%>
        <% end -%>
        <% unless @article.author_name.blank? %>
          <div class="sidebar-unit">
            <h4 class="side-head">AUTHORED BY</h4>
            <div class="sidebar-content">
              <ul>
                <% if @article.author_link.blank? %>
                  <%= content_tag(:li, @article.author_name ) %>
                <% else %>
                  <%= content_tag(:li, link_to(@article.author_name, @article.author_link) ) %>
                <% end -%>
                <% if @article.author_pic? %>
                  <li><%= image_tag(@article.author_pic.url(:thumb) ) %></li>
                <% end -%>
              </ul>
            </div>
          </div>
        <% end -%>
      </div>