<%= render :partial => 'shared/pagedown' %>

<%= semantic_form_for [:admin, @guide] do |f| %>
    <%= f.inputs "Guide Details" do %>
    <%if current_user.is_moderator%>
      <%= f.input :is_published, :label => "Publish?"%>
    <% end %>
    <%=f.input :title %>
    <%=f.input :preview, :input_html => { :rows => 4 } %>
    <%=f.input :category %>
    <%=f.input :contact, :label => "Contact / More Info" %>
    <%=f.input :tags, :as => :string %>
    <%=f.input :author_link %>
    <%=f.input :author_pic %>
    <%=f.input :author_name %>
    <%=f.input :render_markdown, :as => :radio, :collection => [["Markdown", true], ["HTML", false]] %>
    <div class="wmd-panel">
      <div id="wmd-button-bar-content_main" class="wmd-button-bar"></div>
      <%= f.input :content_main, :label => "Content", :input_html => {
          :class => 'wmd-input', :id => 'wmd-input-content_main'} %>
      <div id="wmd-preview-content_main" class="wmd-preview article"></div>
    </div>
    <div style="clear: both;"></div>
  <%end%>
  <%=f.buttons :commit %>
<% end %>