<%= render :partial => 'shared/pagedown' %>

<%= semantic_form_for [:admin, @guide] do |f| %>
    <%= f.inputs "Guide Details" do %>
    <% if params[:action] == 'new' %>
      <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
    <% end %>
    
    <div style="display:none;">
	    <% if current_user.is_admin? || current_user.is_editor? %>
	      <%= f.input :status, :include_blank => false %>
	    <% else %>
	      <%= f.input :status, :include_blank => false %>
	    <% end %>
    </div>
    
    <%=f.input :title %>
    <%=f.input :preview, :input_html => { :rows => 4 } %>
    <%=f.input :category, :label => "Category (required)" %>
    <%=f.input :contact, :label => "Contact / More Info" %>
    <%=f.input :tags, :as => :string, :label => "Keywords" %>
    <%=f.input :author_link, :label => "Write-a-thon Author Link" %>
    <%=f.input :author_pic, :label => "Write-a-thon Author Pic" %>
    <%=f.input :author_name, :label => "Write-a-thon Author Name" %>
    <div style="display:none;">
	    <%=f.input :render_markdown, :as => :radio, :collection => [["Markdown", true], ["HTML", false]] %>
	</div>
  <%end%>

	  <% if current_user.is_admin? || current_user.is_editor? %>
	  	<script type="text/javascript">
function statusToSave(){
	// status does not change
	$("#guide_status").val("Review by <%= current_user.email %>");
	$("form")[0].submit();
}
function statusToRevise(){
	// status changed from 
	$("#guide_status").val("Draft");
	$("form")[0].submit();
}
function statusToPublish(){
	$("#guide_status").val("Published");
	$("form")[0].submit();
}
	  	</script>
	  	<ol>
	    	<li class="commit button">
	    	<input type="button" value="Save / Commit to Editing" onclick="statusToSave();"/>
	    	</li>
		    <li class="commit button">
		    <input type="button" value="Ask Writer to Revise" onclick="statusToRevise();"/>
		    </li>
	    	<% if :status != "Draft"  %>
		    	<li class="commit button">
	      		<input type="button" value="Publish" onclick="statusToPublish();"/>
	      		</li>
	    	<% end %>
	    </ol>
	  <% else %>
	  	<script type="text/javascript">
function statusToSave(){
	// status does not change
	$("form")[0].submit();
}
function statusToReview(){
	// status changed from draft to Pending Review
	$("#guide_status").val("Pending Review");
	$("form")[0].submit();
}
	  	</script>
	  	<ol>
	    	<li class="commit button">
	    	<input type="button" value="Save Draft" onclick="statusToSave();"/>
	    	</li>
	    	<li class="commit button">
	    	<input type="button" value="Ready to Review" onclick="statusToReview();"/>
	    	</li>
	    </ol>
	  <% end %>

<% end %>
