<div class="page-container article">
  <div class="breadcrumbs">
    <%= link_to( "Home", root_url) %>
    >
    <%= link_to(@article.category.name, @article.category) %>
    >
    <%= @article.title %>
  </div>
  <div class="row">
    <div class="span9">
      <div class="main-content">
        <h3 class="content-type"><%= @article.class.to_s.split(/(?=[A-Z])/).join(' ') %></h3>
        <div class="header">
          <%= content_tag(:h1, @article.title ) %>
        </div>
        <div class="content-text">
          <div class="quick_top">
            <%= @content_main.html_safe %>
          </div>
          <%= @content_main_extra.html_safe %>
          <% if @content_need_to_know.html_safe.strip != "" %>
            <div class="quick_bottom">
              <h3>What You Need to Know</h3>
              <%= @content_need_to_know.html_safe %>
            </div>
          <% end %>
        </div>
      </div>
    </div><!-- /span9 -->
    
    <div class="span3">
      <%= render :partial => 'shared/articles_sidebar' %>
    </div><!-- /span3 -->
    
  </div>
</div>
