<div class="page-container">
  <div class="breadcrumbs">
    <%= link_to( "Home", root_url) %>
	>
	About
  </div>
    <div class="container">
      
      <div class="row">
    <div class="span12 main">
	<p>Honolulu Answers is an experimental new approach designed to make it easier for people to navigate city information quickly.</p>
		<h1>What It Is</h1>
		<p>Honolulu Answers is a citizen-focused website that is question-driven, with clean, easy-to-navigate design. You can ask a question or type in keywords using plain language. You'll receive friendly, concise, easy-to-understand responses, as though they're coming from a neighbor. Honolulu Answers aims to be accessible to anyone in Honolulu, regardless of their vocabulary skills.</p>
		<h1>The Design</h1>
<p>People begin most internet journeys with Search, so the site is designed around Search. At the same time, the most frequently viewed topics are bubbled up front, so most people can just click straight to their topic of interest. The content is organized based on citizen understanding, the intuitive way you'd think of a problem, not the way the City is organized internally.</p>
	<p>There are 3 types of content on the site:
		<ul><li><em>Quick Answers</em> tell you the key things you need to know in order to answer your question, that apply to the majority of people.</li>
			<li><em>Guides</em> provide more detailed step-by-step information for more complex answers.</li>
			<li><em>Web Services</em> let you conduct transactions online to answer your questions.</li></ul></p> 
	<p>Overall, Honolulu Answers is designed to be user-friendly, and to make people's lives easier. It declutters the government website experience, and it solves a problem people ordinarily have. Honolulu Answers is a first-of-its-kind for municipal government, but we were very inspired by Gov.uk who are solving a similar problem for the UK government.</p>
	<p>Watch this <a href="">one-minute video</a> to learn more about Honolulu Answers.</p>
		<div class="clearfix"></div>
		
    <h1>Our Team</h1>
	<p>Honolulu Answers was created by <a href="">Code for America fellows</a> in partnership with the City and County of Honolulu:<br />
    <a href="http://twitter.com/snajmi"><div class="shoutout"><%= image_tag "sheba.jpg", :class => "biopic" %><em>Sheba Najmi</em></div></a>
    <a href="http://twitter.com/ezoehunt"><div class="shoutout"><%= image_tag "liz.jpg", :class => "biopic" %><em>Elizabeth Hunt</em></div></a>
    <a href="http://twitter.com/philip_hale"><div class="shoutout"><%= image_tag "phil.jpg", :class => "biopic" %><em>Philip Hale</em></div></a>
	<a href="http://twitter.com/joeycdy"><div class="shoutout"><%= image_tag "joey.jpeg", :class => "biopic" %><em>Joey Cody</em></div></a>
	<a href="http://twitter.com/maromba"><div class="shoutout"><%= image_tag "amir.jpeg", :class => "biopic" %><em>Amir Reavis-Bey</em></div></a>
	</p>
	<div class="clearfix"></div>
   

    <h1>With a little help from our friends...</h1>
    <a href="http://twitter.com/angelk"><div class="shoutout"><%= image_tag "angel.jpeg", :class => "biopic" %><em>Angel Kittiyachavalit</em></div></a>
    <a href="http://twitter.com/robdotd"><div class="shoutout"><%= image_tag "rob.jpg", :class => "biopic" %><em>Rob Davis</em></div></a> 
    <a href="http://twitter.com/dthompson"><div class="shoutout"><%= image_tag "mick.jpeg", :class => "biopic" %><em>Mick Thompson</em></div></a> 
    <a href="http://twitter.com/dianavtran"><div class="shoutout"><%= image_tag "diana.jpeg", :class => "biopic" %><em>Diana Tran</em></div></a>
	<a href="http://twitter.com/cydharrell"><div class="shoutout"><%= image_tag "cyd.jpeg", :class => "biopic" %><em>Cyd Harrell</em></div></a> 
    <a href="http://twitter.com/mapmeld"><div class="shoutout"><%= image_tag "nick.jpeg", :class => "biopic" %><em>Nick Doiron</em></div></a> 
    <div class="clearfix"></div>

    <a href="http://www.honolulu.gov"><div class="shoutout"><%= image_tag "hnl_gov.png", :class => "biopic" %><em>City &amp; County of Honolulu</em></div></a> 
    <a href="http://codeforamerica.org/"><div class="shoutout"><%= image_tag "cfa.png", :class => "biopic" %><em>Code for America</em></div></a>
    <a href="http://brigade.codeforamerica.org/"><div class="shoutout"><%= image_tag "brigade.png", :class => "biopic" %><em>CfA Honolulu Brigade</em></div></a>
	<a href="http://gov.uk/"><div class="shoutout"><%= image_tag "govuk.png", :class => "biopic" %><em>Gov.uk</em></div></a>
    <div class="clearfix"></div>

    <h1>We'd love to hear from you</h1>
    <p>

    <span class="comment">Have feedback? Or want the website for your city?</span>
   	&nbsp;Email <a href="mailto:honolulu@codeforamerica.org">honolulu@codeforamerica.org</a>.
   	<br>
 	<span class="comment">Are you a developer?</span>
 	&nbsp;Fork the app on <a href="http://github.com/codeforamerica/honolulu_answers">GitHub</a>.
   	<br>
	<span class="comment">Want to write content for your city?</span>
	&nbsp;Read our <a href="">content style guide</a>.
   	<br>
    </div>
    </p>
	<div class="twittershare">
	<p>Follow us on Twitter: <a href="https://twitter.com/HonoluluAnswers" class="twitter-follow-button" data-show-count="false" data-dnt="true">@HonoluluAnswers</a>
	</p>
    </div>
</div>	
</div>	
</div>
