<% set_meta_tags :description => "Rehnuma is an experimental new approach designed to make it easier for people to find City information and services quickly." %>
<div class="page-container about-page">
  <div class="breadcrumbs">
    <%= link_to( "Home", root_url) %>
    >
    <%= title "About" %>
  </div>
  <div class="container">
    <div class="row">
      <div class="span9 main">
        <div class="main-content">
          <p>Rehnuma is an experimental new approach designed to make it easier for people to find City information and services quickly.</p>
          <div class="title-spacing">
            <h1>What It Is</h1>
            <p>Rehnuma is a citizen-focused website that is question-driven, with clean, easy-to-navigate design. You can ask a question or type in keywords using plain language. You'll receive simple, friendly, concise, easy-to-understand responses, as though they're coming from a neighbor.</p>
            <p>Watch this <a href="#" target="_blank" class="highlight">short video</a> to learn more about Rehnuma.</p>
          </div>

          <div class="title-spacing">
            <h1>The Design</h1>
            <p>People begin most internet journeys with Search, so the site is designed with that in mind. At the same time, the most frequently viewed topics are bubbled up front, so most people can just click straight to their topic of interest. The content is organized based on citizen understanding, the intuitive way you'd think of a problem, not the way the City is organized internally.</p>
            <p>There are 3 types of content on the site:
            <ul class="about-list"><li>Quick Answers tell you the key things the majority of people need to know in order to answer the question.</li>
              <li>Guides provide more detailed step-by-step information for more complex answers.</li>
              <li>Web Services let you conduct transactions online to answer your questions.</li></ul></p> 
            <p>Overall, Rehnuma is designed to be user-friendly, to make people's lives easier. It declutters the government website experience, and it solves a need people ordinarily have.</p>
          </div>

          <div class="clearfix"></div>
          <div class="title-spacing">
            <h1>Our Team</h1>
            <p>Rehnuma was created by <a href="http://codeforpakistan.org" target="_blank">Code for Pakistan</a> Fellows in partnership with the City and County of Kp Government:<br />
            <!-- <a class="mugshot" href="http://twitter.com/snajmi" target="_blank"><div class="shoutout"><%= image_tag "sheba.jpg", :class => "biopic" %><em>Sheba Najmi</em></div></a>
            <a class="mugshot" href="http://twitter.com/ezoehunt" target="_blank"><div class="shoutout"><%= image_tag "liz.jpg", :class => "biopic" %><em>Elizabeth Hunt</em></div></a>
            <a class="mugshot" href="http://twitter.com/philip_hale" target="_blank"><div class="shoutout"><%= image_tag "phil.jpg", :class => "biopic" %><em>Philip Hale</em></div></a>
            <a class="mugshot" href="http://twitter.com/joeycdy" target="_blank"><div class="shoutout"><%= image_tag "joey.jpeg", :class => "biopic" %><em>Joey Cody</em></div></a>
            <a class="mugshot" href="http://twitter.com/maromba" target="_blank"><div class="shoutout"><%= image_tag "amir.jpeg", :class => "biopic" %><em>Amir Reavis-Bey</em></div></a> -->
            </p>
          </div>
          <div class="clearfix"></div>
          <div class="title-spacing">
            <h1>With a little help from our friends...</h1>
           <!-- <p>
            <a class="mugshot" href="http://twitter.com/forestf" target="_blank"><div class="shoutout"><%= image_tag "forest.jpeg", :class => "biopic" %><em>Forest Frizzell</em></div></a> 
            <a class="mugshot" href="http://twitter.com/angelk" target="_blank"><div class="shoutout"><%= image_tag "angel.jpeg", :class => "biopic" %><em>Angel Kittiyachavalit</em></div></a>
            <a class="mugshot" href="http://twitter.com/robdotd" target="_blank"><div class="shoutout"><%= image_tag "rob.jpg", :class => "biopic" %><em>Rob Davis</em></div></a> 
            <a class="mugshot" href="http://twitter.com/dthompson" target="_blank"><div class="shoutout"><%= image_tag "mick.jpeg", :class => "biopic" %><em>Mick Thompson</em></div></a> 
            <a class="mugshot" href="http://twitter.com/dianavtran" target="_blank"><div class="shoutout"><%= image_tag "diana.jpeg", :class => "biopic" %><em>Diana Tran</em></div></a>
            <a  class="mugshot"href="http://twitter.com/cydharrell" target="_blank"><div class="shoutout"><%= image_tag "cyd.jpeg", :class => "biopic" %><em>Cyd Harrell</em></div></a> 
            <a class="mugshot" href="http://twitter.com/mapmeld" target="_blank"><div class="shoutout"><%= image_tag "nick.jpeg", :class => "biopic" %><em>Nick Doiron</em></div></a> 
            <a class="mugshot" href="http://gov.uk/" target="_blank"><div class="shoutout"><%= image_tag "govuk.png", :class => "biopic" %><em>GOV.UK</em></div></a>
            <a class="mugshot" href="http://www.honolulu.gov" target="_blank"><div class="shoutout"><%= image_tag "hnl_gov.png", :class => "biopic" %><em>City &amp; County of Honolulu</em></div></a> 
            <a class="mugshot" href="http://codeforamerica.org/" target="_blank"><div class="shoutout"><%= image_tag "cfa.png", :class => "biopic" %><em>Code for America</em></div></a>
            <a class="mugshot" href="http://brigade.codeforamerica.org/" target="_blank"><div class="shoutout"><%= image_tag "brigade.png", :class => "biopic" %><em>CfA Honolulu Brigade</em></div></a>          
            </p>-->
          </div>
          <br />
          <!--        <div class="about-list"><p>Thanks to <a href="http://royalrealtyllc.com/">Royal Realty</a> for the background photo.</p></div>  
          -->
          <div class="clearfix"></div>
          <div class="title-spacing">
            <h1>We'd love to hear from you</h1>
            <p>Send us your ideas and feedback via email or tweet!
            <ul>
              <li>Want the website for your city?&nbsp;
              <span class="comment">Email <a href="mailto:staff@codeforpakistan.org">staff@codeforpakistan.org</a>.</span></li>
              <li>Are you a developer?&nbsp;
              <span class="comment">Fork the app on <a href="https://github.com/codeforpakistan/honolulu_answers" target="_blank">GitHub</a>.</span></li>
              <li>Want to write answers for your city?&nbsp;
              <span class="comment">Read our <a href="https://docs.google.com/a/codeforamerica.org/file/d/0B9kmre1G2wdIQmhJVFdZYzRkQXc/edit" target="_blank">Content Style Guide</a>.</span></li>
              <li>Get your community involved in writing answers:&nbsp;
              <span class="comment"><a href="http://neighborhow.org/guides/host-a-writeathon-in-your-city" target="_blank">Host a  write-a-thon</a>.</span></li>
              <li>Follow us on Twitter:&nbsp;
              <span class="comment"><a href="https://twitter.com/KpRehnuma" target="_blank">@KpRehnuma</a>.</span></li>
            </ul>
            </p>
          </div>
        </div>  
      </div>  
    </div>
  </div>
</div>
