<div class="modal-container span8">
  <div class="main-modal">
    <div id="welcome-line-l"></div>
    <div id="welcome-line-r"></div>
    <h3 class="welcome">Welcome To</h3>
    <h1 class="home-modal">Honolulu Answers</h1>
    <p class="call">
      Find answers to your questions about Honolulu city services.
    </p>

    <div class="ribbon-front">
      <div class="triangle-l"></div>
      <div class="triangle-r"></div>
      <div class="ribbon-wrapper">
        <form id="search" action="search" name="search" method="get">
          <input type="text" name="q" id="query" title='query' placeholder="Try driver license, jobs, or registration...">
          <input class="btn-search" id="home-search" type="submit" value="SEARCH" title="Search">
        </form>
      </div>
    </div><!-- /ribbon-wrapper -->

    <div class="popular">
      <div class="pop-heading">
        <h2>Most Popular Categories:</h2>
      </div>
      <div class="pop-categories">
        <div class="category">
          <% category = category_by_name("Driver License") %>
          <span class="left"><%= link_to( category.name, category_path(category.id) ) %></span>
          <p class="right">
            <%= link_to( "Renew license", Article.find_by_friendly_id("how-do-i-renew-my-driver-license"))%> - 
            <%= link_to( "Find licensing stations", Article.find_by_friendly_id("where-do-i-go-to-apply-for-a-driver-license"))%> - <%= link_to( "Schedule road test", Article.find_by_friendly_id("how-do-i-schedule-a-road-test-for-my-driver-license"))%>
          </p>
        </div>
        <div class="category">
          <% category = category_by_name("Motor Vehicle")  %>
          <span class="left"><%= link_to( category.name, category_path(category.id) ) %></span>
          <p class="right">
            <%= link_to( "Register car", Article.find_by_friendly_id("how-do-i-register-a-new-motor-vehicle"))%> -
            <%= link_to( "Transfer ownership", Article.find_by_friendly_id("how-do-i-transfer-ownership-of-my-vehicle-or-trailer"))%> -
            <%= link_to( "Order special plates", Article.find_by_friendly_id("how-do-i-get-a-personalized-license-plate"))%> 
          </p>
        </div>
        <div class="category last">
          <% category = category_by_name("City Jobs") %>
          <span class="left"><%= link_to( category.name, category_path(category.id) ) %></span>
          <p class="right">
            <%= link_to( "Apply for job", Article.find_by_friendly_id("how-do-i-get-a-job-at-the-city"))%> - 
            <%= link_to( "See employment benefits", Article.find_by_friendly_id("what-employment-benefits-are-offered-by-the-city"))%> - 
            <%= link_to( "Know selection process", Article.find_by_friendly_id("what-is-the-selection-process-for-a-job-at-the-city"))%>
          </p>
        </div>
      </div>
    </div><!-- /popular -->
  </div><!-- /main-modal -->
</div><!-- /modal-container -->

<!--<%= render :partial => 'shared/autocomplete' %>-->
