<div class="modal-container span8">
  <div class="main-modal">
    <div id="welcome-line-l"></div>
    <div id="welcome-line-r"></div>
    <h3 class="welcome">Welcome To</h3>
    <h1 class="home-modal">Honolulu Answers</h1>
    <p class="call">
      Find answers to your questions about Honolulu city government.
    </p>

    <div class="ribbon-front">
      <div class="triangle-l"></div>
      <div class="triangle-r"></div>
      <div class="ribbon-wrapper">
        <form id="search" action="search" method="get">
        <input type="text" name="q" id="query" placeholder="Try driver license, jobs or registration...">
        <input class="btn-search" type="submit" value="SEARCH">
        </form>
      </div>
    </div><!-- /ribbon-wrapper -->

    <div class="popular">
      <div class="pop-heading">
        <h2>Most Popular Categories:</h2>
      </div>
      <div class="pop-categories">
        <div class="category">
          <% category = category_by_name("Driver License") %>
          <span class="left"><%= link_to( category.name, category_path(category.id) ) %></span>
          <span class="right">
            <%= link_to("Renew license", article_path(Article.find_by_title("How do I renew my driver license?")))%> - 
            <%= link_to("Find a Satellite City Hall", article_path(Article.find_by_title("Where do I go to apply for a driver license")) ) %> -
            Schedule a road test
          </span>
        </div></a>
        <div class="category">
          <% category = category_by_name("Motor Vehicle")  %>
          <span class="left"><%= link_to( category.name, category_path(category.id) ) %></span>
          <span class="right">
            <%= link_to("Register car", article_path(Article.find_by_title("How do I register a new motor vehicle?")))%> -
            <%= link_to("Renew registration", article_path(Article.find_by_title("How do I renew the registration for my motor vehicle?")))%> -
            <%= link_to("Transfer ownership", article_path(Article.find_by_title("How do I transfer ownership of my vehicle or trailer?")))%> -
            <%= link_to("Order special plates", article_path(Article.find_by_title("How do I get a personalized license plate?")))%> 
          </span>
        </div></a>
        <div class="category last">
          <% category = category_by_name("City Jobs") %>
          <span class="left"><%= link_to( category.name, category_path(category.id) ) %></span>
          <span class="right">
            <%= link_to("View openings", article_path(Article.find_by_title("How do I get a job at the City?")))%> - 
            <%= link_to("See employment benefits", article_path(Article.find_by_title("What employment benefits are offered by the City?")))%> 
          </span>
        </div></a>
      </div>
    </div><!-- /popular -->
  </div><!-- /main-modal -->
</div><!-- /modal-container -->

<!--<%= render :partial => 'shared/autocomplete' %>-->
