<h1>Listing contacts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Subname</th>
    <th>Number</th>
    <th>Url</th>
    <th>Address</th>
    <th>Department</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.name %></td>
    <td><%= contact.subname %></td>
    <td><%= contact.number %></td>
    <td><%= contact.url %></td>
    <td><%= contact.address %></td>
    <td><%= contact.department %></td>
    <td><%= contact.description %></td>
<% end %>
</table>

<br />
