<% set_meta_tags :description => @article.preview,
                 :canonical => "http://answers.honolulu.gov#{request.fullpath}",
                 :title => [@article.category.name, @article.title] %>
<div class="page-container article">
  <div class="breadcrumbs">
    <%= render :partial => 'shared/breadcrumb' %>
  </div>
  <% if @preview %>
    <div id="preview_watermark">PREVIEW</div>
  <% end %>
  <div class="row">
    <div class="span9">
      <div class="main-content">
        <h3 class="content-type"><%= @article.class.to_s.split(/(?=[A-Z])/).join(' ') %></h3>
        <div class="header">
          <%= content_tag(:h1, @article.title ) %>
        </div>
        <div class="content-text">
          <% unless @article.service_url.blank? %>
            <div class="onlineservice">
              <div class="servicebox">
                <a href="<%= @article.service_url%>" target="_blank"><img src="/assets/getting_started_btn.png" /></a>
              </div>
              <h3 class="service">Honolulu.gov lets you do this online! </h3>
              <p>This will take you directly to the online service on the honolulu.gov website.</p>
            </div>
          <% end %>

          <% unless @content_main.strip.blank? %>
            <div class="quick_top">
              <%= @content_main.html_safe %>
            </div>
          <% end %>


          <% unless @content_need_to_know.blank? %>
            <div class="quick_bottom">
              <h3>What You Need to Know</h3>
              <%= @content_need_to_know.html_safe %>
            </div>
          <% end %>

        </div>
        <br />
        <%= render :partial => "shared/social_media_share" %>
        <%= render :partial => "feedbacks/feedback_form" %>
      </div>
    </div><!-- /span9 -->
    
    <div class="span3">
      <%= render :partial => 'shared/articles_sidebar' %>
    </div><!-- /span3 -->
    
  </div>
</div>
