<% set_meta_tags :description => @article.title,
                 :canonical => "http://answers.honolulu.gov#{request.fullpath}",
                 :title => [@article.category.name, @article.title],
                 :keywords => @article.category.name %>
<div class="page-container article">
  <div class="breadcrumbs">
    <%= link_to( "Home", root_url) %>
    >
    <%= link_to(@article.category.name, @article.category) %>
    >
    <%= @article.title %>
  </div>
  <div class="row">
    <div class="span9">
      <div class="main-content">
        <h3 class="content-type"><%= @article.class.to_s.split(/(?=[A-Z])/).join(' ') %></h3>
        <div class="header">
          <%= content_tag(:h1, @article.title ) %>
        </div>
        <div class="content-text">
          <% unless @article.service_url.blank? %>
          <div class="onlineservice">
            <div class="servicebox">
              <a href="<%= @article.service_url%>" target="_blank"><img src="/assets/getting_started_btn.png" /></a>
            </div>
            <h3 class="service">Honolulu.gov lets you do this online! </h3>
            <p>This will take you directly to the online service on the honolulu.gov website.</p>
          </div>
          <% end %>

          <%= raw @content_html %>


        </div>
      </div>
    </div><!-- /span9 -->
    
    <div class="span3">
      <%= render :partial => 'shared/articles_sidebar' %>
    </div><!-- /span3 -->
    
  </div>
</div>
