<div class="feedback-form">
  <span>Did you like this answer?</span> 
  <%= form_for([@article, @feedback]) do |f| %>
    <%= f.submit "Like", :name => "yes_feedback" %>
    <%= f.submit "Dislike", :name => "no_feedback" %>
  <% end %>
</div>
<div class="feedback-history">
  <table summary="feedback history">
    <tr>
      <td><span><%= @feedback.yes_count %> Likes!</span></td>
      <td><span><%= @feedback.no_count %> Dislikes!</span></td>
    </tr>
  </table>
</div>
