<%= render :partial => 'shared/epiceditor' %>

<%= semantic_form_for [:admin, @web_service] do |f| %>
 <%= f.inputs "Web Service Details" do %>
    <%if current_user.is_moderator%>
      <%= f.input :is_published, :label => "Publish?"%>
    <% end   %>  
    <%=f.input :title %>
    <div id="epiceditor"></div>
    <div id="epiceditor-preview"></div>
    <%=f.input :preview %>
    <%=f.input :category %>
    <%=f.input :contact %>
    <%=f.input :service_url %>
    <%=f.input :tags, :as => :string %>
    <%=f.input :author_link %>
    <%=f.input :author_pic %>
    <%=f.input :author_name %>
    <!-- this will be hidden  -->
    <%=f.input :content_md %>
  <%end%>
  <%=f.buttons :commit %>
<% end %>