<div class="page-container">
  <div class="breadcrumbs">
    <%= link_to( "Home", root_url) %>
    >
    <%= @category.name %>
  </div>
  <div class="row">
    <div class="span9">
      <div class="main-content">
        <div class="header">
          <h1><%= @category.name %></h1>
        </div>
        <p><%= @category.description %></p>
        <br/>
        <ul>
          <% @category.articles_by_access_count.each do |article| %>
            <% next unless article.is_published %>
              <li class="article-listing">
                <%= content_tag( :h1, link_to( article.title, article_path(article.id) ) ) %>
                <p class="preview"><%= article.preview %></p>
            </li>
          <% end -%>
        </ul>
      </div>
    </div><!-- /span9 -->

    <div class="span3">
      <%= render :partial => 'shared/categories_sidebar' %>
    </div><!-- /span3 -->

  </div><!-- /row -->
</div><!-- /page-container -->