<div id="navigation">
  <%= render :partial => 'shared/search_form' %>
</div>
<div class="row">
  <div class="span12">
    <div class="page-container">
      
      <div class="row">
        <div class="span9">
          <div class="main-content">
            <div class="header">
              <h1><%= @category.name %></h1>
            </div>
            <p><%= @category.description %></p>
            <br/>
            <ul>
              <% @category.articles_by_access_count.each do |article| %>
                <% next unless article.is_published %>
                  <li class="article-listing">
                    <%= content_tag( :h2, link_to( article.title, article_path(article.id) ) ) %>
                    <p class="preview"><%= article.preview %></p>
                </li>
              <% end -%>
            </ul>
          </div>
        </div>
        <div class="span3">
          <div class="sidebar">
            <div class="sidebar-unit">
              <h4 class="side-head">Other Categories</h4>
              <div class="sidebar-content">
                <ul>
                  <li><a href="#">Driver License</a></li>
                  <li><a href="#">City Jobs</a></li>
                  <li><a href="#">Camping</a></li>
                  <li><a href="#">Car Registration</a></li>
                  <li><a href="#">Transportation</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div><!-- /span3 -->
      </div>
    </div> 
  </div>