<!-- editor actions -->
<% if current_user.is_editor? %>
  <%= f.inputs "Administration" do %>
    <%= f.input :user, :label => "Writer" %>
    <li>
      <label class="label">Status</label>
      <p>This article is in <%= article.status %> state.</p>
    </li>
  <% end %>
  <fieldset class="buttons">
    <ol>
      <% if article.draft? %>
        <li class="commit button">
          <input class="update" type="submit" value="Update" />
        </li>
        <li class="commit button">
          <input id="publish_btn" class="update" type="submit" value="Publish" />
        </li>
      <% elsif article.pending_review? %>
        <li class="commit button">
          <input class="update" type="submit" value="Update" />
        </li>
        <li class="commit button">
          <input id="ask_revise_btn" class="update" type="submit" value="Ask Writer to Revise" />
        </li>
        <li class="commit button">
          <input id="publish_btn" class="update" type="submit" value="Publish" />
        </li>
      <% elsif article.published? %>
        <li class="commit button">
          <input class="update" type="submit" value="Update" />
        </li>
        <li class="commit button">
          <input id="unpublish_btn" class="update" type="submit" value="Unpublish" />
        </li>
      <% end %>
    </ol>
  </fieldset>
  <script type="text/javascript">
    $('#ask_revise_btn').on("click", function(e) {
      e.preventDefault();
      $("select.cms_article_status").val("<%= Article::DRAFT %>");
      $("form")[0].submit();
    });
    $('#unpublish_btn').on("click", function(e) {
      e.preventDefault();
      $("select.cms_article_status").val("<%= Article::PENDING_REVIEW %>");
      $("form")[0].submit();
    });
    $('#publish_btn').on("click", function(e) {
      e.preventDefault();
      $("select.cms_article_status").val("<%= Article::PUBLISHED %>");
      $("form")[0].submit();
    });
  </script>
<% end %> <!-- editor actions -->

<!-- writer actions -->
<% if current_user.is_writer? %>
  <fieldset class="buttons">
  <ol>
    <li class="commit button">
      <input id="save_draft_btn" class="update" type="submit" value="Save Draft" />
    </li>
    <li class="commit button">
      <input id="review_btn" class="update" type="submit" value="Ready to Review" />
    </li>
  </ol>
  </fieldset>
  <script type="text/javascript">
    // status does not change
    $('#save_draft_btn').on("click", function(e) {
      e.preventDefault();
      $("form")[0].submit();
    });
    // status changed from draft to Pending Review
    $('#review_btn').on("click", function(e) {
      e.preventDefault();
      $("select.cms_article_status").val("<%= Article::PENDING_REVIEW %>");
      $("form")[0].submit();
    });
  </script>
<% end %> <!-- writer actions -->

<!-- admin actions -->
<% if current_user.is_admin? %>
  <fieldset class="buttons">
    <ol>
      <li class="commit button">
      <input class="update" id="submit" name="commit" type="submit"
      value="Update">
      </li>
    </ol>
  </fieldset>
<% end %> <!-- admin actions -->

