<!DOCTYPE html>
<html>
<head>
  <title>Honolulu Answers</title>
  <meta name="viewport" content="width=device-width,initial-scale =1, user-scalable = no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <%= include_gon %>
  <%= stylesheet_link_tag    "application-all", :media => "all" %>
  <%= stylesheet_link_tag    "application-mobile", :media => "all and (max-width: 600px)" %>
  
  <!--[if lte IE 8]>
    <%= stylesheet_link_tag    "application-ie", :media=> "all" %>
  <![endif]-->
  <%= javascript_include_tag "application" %>
  
  <script type="text/javascript">
    var _kmq = _kmq || [];
    var _kmk = _kmk || '1ebcfdd765c6c564f39a5a0405f93aa6b46c64c6';
    function _kms(u){
      setTimeout(function(){
        var d = document, f = d.getElementsByTagName('script')[0],
        s = d.createElement('script');
        s.type = 'text/javascript'; s.async = true; s.src = u;
        f.parentNode.insertBefore(s, f);
      }, 1);
    }
    _kms('//i.kissmetrics.com/i.js');
    _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
  </script>




  <%= csrf_meta_tags %>
</head>
<body class="<%= @bodyclass %>" onload="document.search.q.focus();">
<div id="wrapper">
  <div class="navbar-top">
    <!-- <p class="notice alert alert-info"><%= notice %></p>
    <p class="alert alert-error"><%= alert %></p> -->
    <div class="container">
      <div class="row">
        <div class="logo span4">
          <a href="/" class="hnl-logo">Honolulu Answers</a>
          <span class="bubble"><img src="/assets/beta.png" class="beta" alt="beta"></span>
        </div>
        <ul class="nav-top span4">
          <li class="">
            <%= link_to("Guides", "/articles/article-type/guide") %>
          </li>
          <li class="">
            <%= link_to("Quick Answers", "/articles/article-type/quick-answer") %>
          </li>
          <li class="">
            <%= link_to("Web Services", "/articles/article-type/web-service") %>
          </li>
        </ul>
        <% if !current_page?('/')  %>
        <div class="header-search span4">
          <%= render :partial => 'shared/search_form' %>
        </div>
        <% end %>
      </div><!-- /row -->
    </div>
  </div><!-- /navbar-top -->
  <div class="container main clearfix"><!-- main content container -->



<%= yield %>



  </div><!-- /container-fluid -->
</div><!-- /wrapper -->
<div class="footer">
  <div class="container">
    <ul class="footer-links">
      <li><a href="http://codeforamerica.org/2012-partners/honolulu/">About</a></li>
      <li><a href="mailto:honolulu@codeforamerica.org">Contact</a></li>
      <li><a href="https://github.com/codeforamerica/honolulu_answers">Contribute</a></li>
    </ul>
    <div class="cfa-logos">
      <a href="http://codeforamerica.org/"><img src="/assets/cfa_logo_footer.png" class="right" alt="Code for America"></a>
      <span class="plus">&#43;</span>
      <a href="http://honolulu.gov"><img src="/assets/hnl_gov.png" class="right" alt="City and County of Honolulu - State of Hawaii"></a>
    </div>
  </div>
</div><!-- /footer -->


<div id="getsat-widget-784"></div>
<script type="text/javascript" src="https://loader.engage.gsfn.us/loader.js"></script>
<script type="text/javascript">
if (typeof GSFN !== "undefined") { GSFN.loadWidget(784,{"containerId":"getsat-widget-784"}); }
</script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20825280-8']);
  _gaq.push(['_trackPageview']);
  
  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
