<!DOCTYPE html>
<html>
<head>
  <title>Honolulu Answers</title>
  <meta name="viewport" content="width=device-width,initial-scale =1, user-scalable = no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="apple-touch-icon" href="icons/regular_icon.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="icons/retina_icon.png" />
  <link href='http://fonts.googleapis.com/css?family=PT+Sans+Caption' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "mobile", :media => "all and (max-width: 600px)" %>
  <%= javascript_include_tag "application" %>


<% if current_page?('/') %>
<script src="http://codeforamerica.github.com/cfa_banner/banner.js?type=corner-right&forkUrl=https://github.com/codeforamerica/honolulu_answers" id="cfa_banner_script"></script>
<% end %>

  <%= csrf_meta_tags %>
</head>
<body class="<%= @bodyclass %>">




<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>



<div id="footer">
  <h4 class="disclaimer">This is a beta test website, so some information may be inaccurate. Please visit the official <a target="_blank" href="http://honolulu.gov">honolulu.gov</a> for complete information.</a>.</h4>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20825280-8']);
  _gaq.push(['_trackPageview']);
  
  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
