<!DOCTYPE html>
<html>
<head>
  <title>West Michigan Green Guide</title>
  <meta name="viewport" content="width=device-width,initial-scale =1,maximum-scale=1,user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <!-- facebook and twitter buttons -->
    <meta content="West Michigan Green Guide" property="og:title"/>
    <meta content="website" property="og:type"/>
    <meta content="West Michigan Green Guide" property="og:site_name"/>
    <meta content="290079217769194" property="fb:app_id" />
    <% if !@quick_answer.nil? %>
      <meta content="http://wmgreenguide.com" property="og:url" /> <!-- /quick_answers/#{@quick_answer.id}" property="og:url" /> -->
    <% end %>
  <!-- facebook and twitter buttons -->

  <%= include_gon %>
  <%= stylesheet_link_tag    "application-all", :media => "all" %>
  <%= stylesheet_link_tag    "application-mobile", :media => "all and (max-width: 969px)" %>

  <!--[if lte IE 8]>
    <%= stylesheet_link_tag    "application-ie", :media=> "all" %>
  <![endif]-->
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body class="<%= @bodyclass %>">

<div id="wrapper">
  <div class="navbar-top">
    <div class="container">
      <div class="row">
        <div class="logo span4">
          <a href="/" class="hnl-logo">West Michigan Green Guide</a>
          <span class="bubble"><img src="/assets/beta.png" class="beta" alt="beta"></span>
        </div>
        <ul class="nav-top span5">
          <li class="">
            <%= link_to("Quick Answers", "/articles/article-type/quick-answer") %>
          </li>
          <li class="">
            <%= link_to("Guides", "/articles/article-type/guide") %>
          </li>
          <li class="">
            <%= link_to("Resources", "/articles/article-type/resource") %>
          </li>
        </ul>
        <% if !current_page?('/')  %>
        <div class="header-search span3">
          <%= render :partial => 'shared/search_form' %>
        </div>
        <% end %>
      </div><!-- /row -->
    </div>
  </div><!-- /navbar-top -->

  <div class="container main clearfix"><!-- main content container -->
    <% flash.each do |key, value| %>
      <div class="<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </div><!-- /container-fluid -->
</div><!-- /wrapper -->

<div class="footer">
  <div class="container">
    <ul class="footer-links">
      <li><%=link_to("About", about_path)%></li>
      <li><a href="mailto:dschoonmaker@wmeac.org">Contact</a></li>
      <li><a href="https://github.com/friendlycode/wmgg">Contribute</a></li>
    </ul>
    <div class="WMEAClogo">
      <%= link_to(image_tag("wmeaclogo.png", :alt =>"logo"), 'http://www.wmeac.org', {:class => 'no-underline'}) %>
    </div>
  </div>
</div><!-- /footer -->
  <!-- this should be the last line before </body> -->
  <%= render :partial => "layouts/footer" %>
</body>
</html>
